extends layout
block content
   h1 Контакты
   .contact-map
      img(src='assets/img/yandex_map.jpg')
   div
      p
         blockquote
            p
               strong Основной офис
               br
               | 	            Phone: (415) 992-0740
               br
               | 	            Fax: (410) 932-2873
               br
               | 	            E-mail:
               a(href='mailto:mail@mail.net', title='Email') mail@mail.net
            p
               strong Второй офис
               br
               | 	            Phone: (415) 992-0741
               br
               | 	            Fax: (410) 932-2876
               br
               | 	            E-mail:
               a(href='mailto:mail2@mail.net', title='Email') mail2@mail.net