header
    .site-logo.float-left
        a(href='index.html', title='Перейти на главную')
            img(src='assets/img/logo.png')
    .top-banner.float-left
        img(src='http://www.racekarts.com/images/stories/banner-480x100.jpg')
    .contacts-logo.float-right
        p
            strong Основной офис
            br
            |                            Phone: (415) 992-0740
            br
            |                            Fax: (410) 932-2873
            br
            |                            E-mail:
            a(href='mailto:mail@mail.net', title='Email') mail@mail.net
    .clearfix
    nav
        .main-menu.dynaweb
            div
                a.menu-main(href='index.html') Главная
                a.menu-news(href='news.html') Новости
                a.menu-contacts(href='contacts.html') Контакты