.float-left.left-menu
    h1 Меню
    ul
        li
            a(href='index.html') Главная
        li
            a(href='products.html') Продукты
        ul
            li
                a(href='product1.html') iPhone
            li
                a(href='product2.html') iPad
            li
                a(href='product3.html') iWatch
        li
            a(href='news.html') Новости
        li
            a(href='contacts.html') Контакты