extends layout
block content
   h1 Новости
   h2 Заголовок новости 1
   p.news-body
      | Apple Watch — часы с дополнительной функциональностью (умные часы), созданные корпорацией Apple и представленные 9 сентября 2014 года. В них встроен фитнес-трекер (аналог Fitbit). Для их полноценной работы требуется смартфон семейства iPhone 5 или новее. Выход в продажу в 9 странах мира (Франция, Германия, Великобритания, Япония, Китай, Гонконг, Австралия, Канада и США) назначен на 24 апреля 2015 года. Цена составит от 349 долларов США[1].
   small 09.05.2015 14:15
   hr
   h2 Заголовок новости 2
   p.news-body
      | Apple Watch — часы с дополнительной функциональностью (умные часы), созданные корпорацией Apple и представленные 9 сентября 2014 года. В них встроен фитнес-трекер (аналог Fitbit). Для их полноценной работы требуется смартфон семейства iPhone 5 или новее. Выход в продажу в 9 странах мира (Франция, Германия, Великобритания, Япония, Китай, Гонконг, Австралия, Канада и США) назначен на 24 апреля 2015 года. Цена составит от 349 долларов США[1].
   small 09.05.2015 14:15
   hr
   h2 Заголовок новости 3
   p.news-body
      | Apple Watch — часы с дополнительной функциональностью (умные часы), созданные корпорацией Apple и представленные 9 сентября 2014 года. В них встроен фитнес-трекер (аналог Fitbit). Для их полноценной работы требуется смартфон семейства iPhone 5 или новее. Выход в продажу в 9 странах мира (Франция, Германия, Великобритания, Япония, Китай, Гонконг, Австралия, Канада и США) назначен на 24 апреля 2015 года. Цена составит от 349 долларов США[1].
   small 09.05.2015 14:15

